/*
* 
* @author Douglas Nickson
* @version 1.0
*/

/* ========================= layout ======================== */
html, body {
	height: 100%;
	overflow: auto;
}

body {
	background: linear-gradient(50deg,#6c757d,#dee2e6);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

a {

    color: #dee2e6;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: none;
}

/* -- NAVBAR --  */
.logo {
    font-family: 'Times New Roman', Times, serif;
    color: #dee2e6;
    }

.nav-icons {
    margin: 6px 0px 0px 0px;
    width: 120px;
    height: 30px;
}

.fa-lg {
    padding: 5px 7px 0 7px;
}

.divisor{
	width: 1px;
	height: 20px;
	background: #e9ecef;
	margin: 3px 0px 0 5px;
}

.navbar-nav>li>a, footer .nav a {
    color: #dee2e6;
}

.navbar-nav>li>a:hover, footer .nav a:hover {
    color: #e9ecef;
    background: none;
}

/* -- Menu Lateral -- */

.col-sm-2 {
    padding: 0;
    margin-top: 2px;
}

.nav-side-menu {
    font-family: Helvetica,Arial,sans-serif;
    color: #dee2e6;
    overflow: auto;
    font-size: 14px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border-top-right-radius: 5px;

}

.nav-side-menu ul {
    list-style: none;
    margin-top: 10px;
}

.nav-side-menu li {
    padding-top: 3px;

}

.nav-side-menu a {
    display: block;
    color: #dee2e6;
    padding: 10px;
    text-decoration: none;
}

.nav-side-menu a:hover {
    background: #4f5b69;
}

.children>li>a:hover {
    background: none;
    color: darkgrey;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px 0; }


.sidebar-profile-pic {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    margin: 5px 5px;
    float: left;
}

.sidebar-profile-name {
    margin-top: 5px;
    font-weight: bold;
}


/* -- Conteudo -- */

.col-sm-10 {
    padding-left: 5px;
    font-family: Helvetica,Arial,sans-serif;
}

.page-path {
    color: #343a40;
    border-bottom: 1px solid rgba(52, 58, 64, 0.5);
}

.page-path a {
    color: #343a40;
}

.page-path a:hover {
    color: #6c757d;
    background: none;

}

.dashboard {
    color: #dee2e6;
    margin: 2px 0;
}

.module-content{
    color: #dee2e6;
    margin: 5px 0;
    padding: 5px;

}

.module-form-content {
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
}

.module-form-content h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #dee2e6;
    font-size: 24px;
    border-bottom: 1px solid;
}

/* -- Rodape -- */